/*---------------------
----Import links-------
---------------------*/

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter&family=Roboto&display=swap');
:root {
    --dongle: 'Dongle', sans-serif;
    --inter: 'Inter', sans-serif;
    --roboto: 'Roboto', sans-serif;
}


/*---------------------
----common styles-------
---------------------*/

.title {
    font-family: var(--roboto);
    font-size: 24px;
    font-weight: 700;
    color: white;
}


/*---------------------
----Header part styles-
---------------------*/

header {
    height: 70px;
    width: 100%;
    background-color: rgb(80, 80, 235);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.menu_bar {
    font-family: var(--roboto);
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
}


/*---------------------
----Import links-------
---------------------*/


/*---------------------
----Import links-------
---------------------*/


/*---------------------
----Import links-------
---------------------*/


/*---------------------
----Import links-------
---------------------*/