/*---------------------
----Import links-------
---------------------*/

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter&family=Poppins&family=Roboto&display=swap');
:root {
    --dongle: 'Dongle', sans-serif;
    --inter: 'Inter', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------------------
----common styles-------
---------------------*/

.title {
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--poppins);
    padding: 10px 24px;
    border-radius: 41px;
}


/*---------------------
----Header part styles-
---------------------*/

header {
    height: 70px;
    width: 100%;
    background-color: rgb(80, 80, 235);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.menu_bar {
    font-family: var(--roboto);
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
}


/*---------------------
--article all style---
---------------------*/

.container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.container_part {
    /* padding: 0 20px; */
    width: 570px;
    margin: 30px;
}

.container_title {
    font-family: var(--poppins);
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.container_part img {
    width: 440px;
    height: 410px;
}

.container_img:hover {
    transform: rotate(360deg);
}

.container_img {
    transition: transform 3s ease;
}

.container p {
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}


/*---------------------
----Product part styles----
---------------------*/

.container-2 {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 100px;
}

.title {
    font-size: unset;
}

.section-title {
    margin-bottom: 50px;
}

.section-title h2 {
    font-family: var(--roboto);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: center;
    gap: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-radius: 5px;
    box-shadow: -5px 10px 20px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.product:hover {
    transform: scale(1.1);
}

.product-details {
    width: 300px;
    height: 220px;
    display: block;
    margin: 0 auto;
    align-items: flex-start;
}

.product-name h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 6px;
}

.product-price h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.product-rating .fa-star.filled {
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: #FB8200;
}

.product-rating .fa-star-half-alt.empty {
    width: 15px;
    height: 16px;
    font-size: 12px;
    color: #FB8200;
}

.product-rating span {
    font-size: 14px;
    font-weight: 600;
}

.product-info p {
    font-family: var(--dongle) 50%;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}

.next_button {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.next_button a {
    padding: 10px;
    color: #E02C6D;
    text-align: end;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}


/*---------------------
---footer all styles---
---------------------*/

footer {
    background: #0a0826;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    color: white;
    width: 262px;
    height: 139px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}

.footer p {
    font-size: 14px;
}

.social_link {
    width: 176px;
    height: 32px;
    margin: 0 auto;
    padding: 5px;
    font-size: 25px;
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}


/*---------------------
---- MEDIA QUERY -------
---------------------*/

@media (max-width: 668px) {
    .menu {
        display: none;
    }
    header {
        width: 100%;
    }
    .container {
        margin-bottom: 50px;
        display: block;
    }
    .container_part {
        width: 100%;
    }
    .container_part img {
        display: block;
        width: 100%;
    }
    .menu {
        display: none;
    }
    .products {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .contact-image img {
        display: block;
        margin: auto;
    }
    .next_button {
        margin-bottom: 50px;
    }
}

@media (min-width:669px) and (max-width:992px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .product {
        align-items: center;
    }
    .menu {
        display: contents;
    }
    .container_img {
        margin-top: 200px;
    }
    h2.title {
        position: relative;
        right: 150px;
    }
}